---
import Master from "../layouts/Master.astro";
import Gradient from "../components/Gradient.astro";
import Card from "../components/Card.astro";
import Experience from "../components/Experience.astro";
import Section from "../components/Section.astro";
import { Picture } from "astro:assets";

import AboutImg from "../assets/images/mads.jpg";
const experience = [
  {
    body: "Mit hovedansvar er at udvikle nye widgets, sider og webapplikationer, samtidig med at jeg sørger for vedligeholdelsen af eksisterende løsninger. Mit arbejde indebærer at omsætte designkoncepter til brugervenlige og funktionelle grænseflader, der hjælper med at skabe engagerende onlineoplevelser for vores brugere.",
    company: "Combine",
    location: "Aalborg",
    period: "2022 - Nu",
    link: {
      text: "combine.dk",
      href: "https://www.combine.dk/",
    },
    job: "Frontend udvikler",
    logo: "/logos/logo-combine-blue.svg",
  },
  {
    body: "På fjerde semester var jeg i praktik hos Combine, hvor jeg fik lov til at prøve kræfter med både interne projekter og mindre  “rigtige” opgaver.",
    company: "Combine",
    location: "Aalborg",
    period: "2022 - 2022",
    link: {
      text: "combine.dk",
      href: "https://www.combine.dk/",
    },
    job: "Praktikant",
    logo: "/logos/logo-combine-blue.svg",
  },
  {
    body: "Undervisning i at arbejde med digitale medier, gennem grundige brugerundersøgelser, design og udvikling af websites og digitale brugergrænseflader.",
    company: "UCN",
    location: "Aalborg",
    period: "2020 - 2022",
    link: {
      text: "ucn.dk",
      href: "https://www.ucn.dk/uddannelser/multimediedesigner",
    },
    job: "Multimedie­designer",
    logo: "/logos/ucn-logo-sort.svg",
  },
];
const socials = [
  {
    name: "MLousdal",
    url: "https://github.com/MLousdal",
    icon: "/icons/github.svg",
    color: "btn-danger",
  },
  {
    name: "Mads Lousdal",
    url: "https://www.linkedin.com/in/mads-lousdal/",
    icon: "/icons/linkedin.svg",
    color: "btn-info",
  },
  {
    name: "mads.lousdal@gmail.com",
    url: "mailto:mads.lousdal@gmail.com",
    icon: "/icons/email.svg",
    color: "btn-success",
  },
];
const tools = [
  {
    name: "HTML",
    color: "#e5532d",
    icon: "/icons/tools/html.svg",
    white: false,
  },
  { name: "CSS", color: "#2d53e5", icon: "/icons/tools/css.svg", white: true },
  {
    name: "Sass",
    color: "#cd6799",
    icon: "/icons/tools/sass.svg",
    white: false,
  },
  {
    name: "Tailwind",
    color: "#38bdf8",
    icon: "/icons/tools/tailwind.svg",
    white: false,
  },
  {
    name: "JavaScript",
    color: "#f0dc55",
    icon: "/icons/tools/javascript.svg",
    white: false,
  },
  {
    name: "TypeScript",
    color: "#3179c7",
    icon: "/icons/tools/typescript.svg",
    white: false,
  },
  { name: "Vue", color: "#3fb984", icon: "/icons/tools/vue.svg", white: false },
  {
    name: "Nuxt",
    color: "#08dd86",
    icon: "/icons/tools/nuxtjs.svg",
    white: false,
  },
  {
    name: "Figma",
    color: "#a25aff",
    icon: "/icons/tools/figma.svg",
    white: false,
  },
  {
    name: "C#",
    color: "#9e4d97",
    icon: "/icons/tools/c-sharp.svg",
    white: true,
  },
  {
    name: "Umbraco",
    color: "#3544b1",
    icon: "/icons/tools/umbraco.svg",
    white: true,
  },
];
---

<Master title="Mads Lousdal">
  <section
    class="grid min-h-screen py-16 bg-yellow-400 place-items-center scroll-m-24"
    id="hero"
  >
    <div
      class="container flex flex-col justify-center h-full gap-8 lg:items-center lg:justify-between lg:flex-row"
    >
      <header>
        <h1 class="text-5xl sm:text-6xl">
          <span class="text-sm sm:text-xl">Hejsa! Mit navn er<br /></span>Mads
          Lousdal
        </h1>
        <p class="mt-6 prose lg:prose-xl">
          Som en frontend-udvikler med fokus på e-handel og webapplikationer har
          jeg en løsnings orienteret tilgang, der er centreret omkring brugernes
          behov og ønsker.
        </p>
        <div class="flex items-center gap-4 mt-6">
          <a
            class="flex items-center gap-2 btn btn-danger"
            href="/MadsLousdal-CV.pdf"
            download=""
            ><i class="ico">download</i>Hent mit CV
          </a>
        </div>
      </header>
      <Gradient classes="w-1/2 lg:w-1/4" />
    </div>
  </section>
  <Section id="about" title="Lidt om mig">
    <div class="grid w-full gap-8 xl:grid-cols-2 place-items-center">
      <div class="prose max-w-none lg:max-w-prose lg:prose-lg">
        <p>
          Efter at være vokset op i det blæsende Thy, har jeg fundet vej til
          Aalborg hvor jeg nu bor sammen med min kæreste ❤️
        </p>
        <p>
          Jeg blev uddannet som multimediedesigner i sommeren 2022, og har
          arbejdet ved Combine siden. Før det har jeg bl.a arbejdet som
          bartender, som har lært mig meget om kommunikation, prioritering og et
          syn for detaljer.
        </p>
        <p>
          Når jeg ikke sidder ved computeren, kan jeg oftest findes i det
          nærmeste fitnesscenter i gang med at løfte hele verden. Derudover ser
          jeg en del film som jeg holder af at rangere på <a
            href="https://letterboxd.com/GameLad/"
            target="_blank">Letterboxd</a
          >. Nogle af mine favoritter er <span class="hover:cursor-scream">Scream serien</span>.
        </p>
        <p>Her er nogle af de teknologier som jeg har arbejdet med:</p>
        <ul class="flex flex-wrap items-center gap-4 not-prose">
          {
            tools.map((tool) => (
              <li
                class:list={[
                  "flex items-center gap-2 tag",
                  { "text-white": tool.white },
                ]}
                style={{ backgroundColor: tool.color }}
              >
                <img
                  class:list={["block w-5", { invert: tool.white }]}
                  src={tool.icon}
                  alt=""
                />
                {tool.name}
              </li>
            ))
          }
        </ul>
      </div>
      <Picture
        src={AboutImg}
        formats={["webp"]}
        width={1000}
        densities={[1.5, 2]}
        alt="Billede af mig"
        class="w-full"
        pictureAttributes={{ class: "w-full border-2 rounded shadow-lg" }}
      />
    </div>
  </Section>
  <Section id="skills" title="Hvad kan jeg?">
    <div class="grid gap-8 lg:grid-cols-2 xl:grid-cols-3">
      <Card
        title="Widgets"
        body="Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll. Toffee sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake."
        img="https://images.unsplash.com/photo-1530435460869-d13625c69bbf?auto=format&fit=crop&q=80&w=1170&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
      <Card
        title="Sider"
        body="Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll. Toffee sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake."
        img="https://images.unsplash.com/photo-1519211975560-4ca611f5a72a?auto=format&fit=crop&q=80&w=1170&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
      <Card
        title="Web apps"
        body="Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll. Toffee sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake."
        img="https://images.unsplash.com/photo-1551288049-bebda4e38f71?auto=format&fit=crop&q=80&w=1170&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
    </div>
  </Section>
  <Section id="resume" title="Resumé">
    <div class="flex flex-col max-w-screen-lg gap-8">
      {
        experience.map((experience) => (
          <Experience
            job={experience.job}
            company={experience.company}
            location={experience.location}
            period={experience.period}
            link={experience.link}
            body={experience.body}
            logo={experience.logo}
          />
        ))
      }
    </div>
  </Section>
  <Section id="contact" title="Kontakt">
    <p class="prose max-w-none lg:max-w-prose lg:prose-lg">
      Selvom jeg i øjeblikket ikke leder efter nye muligheder, står min indbakke
      altid åben. Uanset om du har et spørgsmål eller bare vil sige hej, vil jeg
      gøre mit bedste for at vende tilbage til dig!
    </p>
    <ul
      class="flex flex-col w-full gap-2 font-medium rounded-lg lg:w-fit lg:gap-8 lg:flex-row lg:mt-0 lg:border-0 lg:bg-transparent"
    >
      {
        socials.map((page) => (
          <li class="m-0 md:w-fit">
            <a
              href={page.url}
              target="_blank"
              class:list={["flex gap-4 social-link btn", page.color]}
            >
              <img class="block w-6" src={page.icon} alt="" />
              {page.name}
            </a>
          </li>
        ))
      }
    </ul>
  </Section>
</Master>
