---
export interface Props {
  body?: string;
  classes?: string;
  company: string;
  job: string;
  link?: Link;
  location: string;
  logo?: string;
  period: string;
}

export interface Link {
  text: string;
  href: string;
}

const { classes, logo, link, period, location, job, company, body } =
  Astro.props;
---

<article
  class:list={[
    "p-4 gap-4 border-2 rounded-md max-w-none w-full shadow flex flex-col",
    classes,
  ]}
>
  <header>
    <h2 class="flex justify-between gap-6 mt-0 text-xl font-semibold">
      {job} @ {company}
      {period && <time class="h2">{period}</time>}
    </h2>
  </header>
  <div
    class="grid gap-4 prose md:grid-cols-5 place-items-center max-w-none lg:prose-lg prose-img:m-0 prose-p:m-0"
  >
    {body && <p class="col-span-4">{body}</p>}
    {
      logo && (
        <img src={logo} alt={company} class="hidden md:block w-fit max-h-6" />
      )
    }
  </div>
  <div class="flex gap-4">
    {
      location && (
        <p class="flex items-center gap-2 px-3 py-1 text-sm font-medium text-white bg-blue-600 border-2 rounded-lg shadow-sm">
          <i class="ico">location_on</i>
          {location}
        </p>
      )
    }
    {
      link && (
        <a
          href={link.href}
          target="_blank"
          class="flex items-center gap-2 btn btn-sm btn-success"
        >
          <i class="ico">open_in_new</i>
          {link.text}
        </a>
      )
    }
  </div>
</article>
