---
import type { IExperience } from "../models/models";

export interface Props {
  experience: IExperience;
}

export interface Link {
  text: string;
  href: string;
}

const { experience } = Astro.props;
---

<article
  class="p-4 gap-4 border-2 rounded-md max-w-none w-full shadow flex flex-col"
>
  <header>
    <h2
      class="flex flex-col md:flex-row gap-2 md:justify-between md:gap-6 mt-0 text-lg md:text-xl font-semibold"
    >
      {experience.job} @ {experience.company}
      {experience.period && <span>{experience.period}</span>}
    </h2>
  </header>
  <div
    class="grid gap-4 prose md:grid-cols-5 place-items-center max-w-none lg:prose-lg prose-img:m-0 prose-p:m-0"
  >
    {experience.body && <p class="col-span-4">{experience.body}</p>}
    {
      experience.logo && (
        <img
          src={experience.logo}
          alt={experience.company}
          class="hidden max-w-full md:block w-fit max-h-8"
        />
      )
    }
  </div>
  <div class="flex gap-4">
    {
      experience.location && (
        <p class="flex items-center gap-2 text-white bg-blue-600 tag">
          <i class="ico">location_on</i>
          {experience.location}
        </p>
      )
    }
    {
      experience.link && (
        <a
          href={experience.link.href}
          target="_blank"
          class="flex items-center gap-2 btn btn-sm btn-success"
        >
          <i class="ico">open_in_new</i>
          {experience.link.text}
        </a>
      )
    }
  </div>
</article>
