---
const pages = [
  { name: "Om mig", url: "#about" },
  { name: "Evner", url: "#skills" },
  { name: "Erfaring", url: "#experience" },
];

const socials = [
  {
    name: "mads.lousdal@gmail.com",
    url: "mailto:mads.lousdal@gmail.com",
    icon: "/icons/email.svg",
  },
  {
    name: "Github",
    url: "https://github.com/MLousdal",
    icon: "/icons/github.svg",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/mads-lousdal/",
    icon: "/icons/linkedin.svg",
  },
];
---

<header
  class="fixed top-0 left-0 right-0 z-10 bg-white border-b-2 dark:bg-black"
>
  <div
    class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto"
  >
    <a
      href="#hero"
      class="text-2xl outline-none font-display focus:underline hover:underline underline-offset-4 decoration-wavy decoration-primary-600"
      >ML</a
    >
    <button
      id="navbarBtn"
      type="button"
      class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-black rounded-lg dark:text-white lg:hidden focus:outline-none focus:ring-2 focus:ring-black dark:focus:ring-white"
      aria-controls="navbar-solid-bg"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <nav
      class="flex-col hidden w-full gap-2 lg:gap-6 lg:flex lg:w-auto lg:flex-row"
      id="navbar"
      aria-label="Main Menu"
    >
      <ul
        class="flex flex-col gap-2 mt-4 font-medium rounded-lg lg:gap-6 lg:flex-row lg:mt-0 lg:border-0 lg:bg-transparent"
      >
        {
          pages.map((page) => (
            <li class="m-0 last:pb-2 last:border-b-2 last:lg:border-b-0 last:lg:border-e-2 last:lg:pb-0 last:lg:pe-6 last:mb-2 last:lg:mb-0">
              <a
                href={page.url}
                class="block px-4 py-2 bg-transparent rounded outline-none font-display focus:underline hover:underline underline-offset-4 decoration-wavy decoration-primary-600 lg:p-0"
              >
                {page.name}
              </a>
            </li>
          ))
        }
      </ul>
      <ul
        class="flex flex-col gap-2 font-medium rounded-lg lg:gap-6 lg:flex-row lg:mt-0 lg:border-0 lg:bg-transparent"
      >
        {
          socials.map((page) => (
            <li class="m-0">
              <a
                href={page.url}
                target="_blank"
                class="flex gap-4 px-4 py-2 bg-transparent rounded outline-none social-link font-display focus:underline hover:underline underline-offset-4 decoration-wavy decoration-primary-600 lg:p-0"
              >
                <img class="block w-6" src={page.icon} alt={page.name} />
                <span class="lg:hidden">{page.name}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<script>
  const navbarLinks = document.querySelectorAll("a[href]");
  const navbarBtn = document.querySelector("#navbarBtn");
  const navbar = document.querySelector("#navbar");

  navbarBtn?.addEventListener("click", () => {
    if (!navbar?.classList.contains("hidden")) {
      navbar?.classList.add("hidden");
      navbar?.classList.remove("flex");
    } else {
      navbar?.classList.remove("hidden");
      navbar?.classList.add("flex");
    }
  });

  navbarLinks.forEach((l) => {
    l.addEventListener("click", () => {
      if (!navbar?.classList.contains("hidden")) {
        navbar?.classList.add("hidden");
      }
    });
  });
</script>
